body {
  background-color: #fff;
  line-height: 1.5;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  display: flex;
  gap: 76px;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.blue-logo {
  color: #4d5ae5;
}

ul {
  list-style: none;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
  font-size: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  display: inline-block;
  position: relative;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.contact-link {
  color: #434455;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-active {
  color: #404bbf;
}

.link-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero {
  padding: 188px 0;
  background: rgba(46, 47, 66, 0.7);
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  display: block;
  max-width: 100%;
}
h1 {
  max-width: 496px;
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.hero-cta-button {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.04em;
}
.hero-cta-button:hover,
.hero-cta-button:focus {
  background-color: #404bbf;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ternary-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.features-item {
  max-width: 264px;
}

.features-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #8e8f99;
  height: 112px;
  margin-bottom: 8px;
}

p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-item {
  background-color: #fff;
  box-shadow:
    0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
  max-width: 264px;
  border-radius: 0 0 4px 4px;
}

.team-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 24px;
}

.social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  border-radius: 50%;
}

.social-icon svg,
.footer-social-icon svg {
  fill: #f4f4fd;
}

.social-icon:hover,
.social-icon:focus {
  background-color: #404bbf;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  border-radius: 50%;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  background-color: #31d0aa;
}

.worker-name {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.profession {
  text-align: center;
  color: #434455;
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.bottom-page {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 120px;
}

.item-wrapper {
  padding: 32px 16px;
}

.portfolio-item {
  width: 360px;
  border: 1px solid #e7e9fc;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  cursor: pointer;
  box-shadow:
    0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 360px;
  height: 300px;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
  color: #f4f4fd;
}

.secondary-logo {
  color: #f4f4fd;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.bottom-page-paragraph {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-top: 16px;
}

.socials-title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.icon:hover {
  fill: #31d0aa;
}
